<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="snav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>RX Use Cases</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="wolt-game">Wolt Game</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
